In [3]:
import numpy as np
import pandas as pd
import cv2
import re

In [5]:
fnames = !ls ../../img/patch4/img
len(fnames)

3050

In [10]:
pre = [re.findall('(.+)_.+', p)[0] for p in fnames]
suf = [re.findall('.+_(.+)', p)[0] for p in fnames]

In [28]:
import collections
c = collections.Counter(pre)
c

Counter({'0': 14,
         '1': 16,
         '100': 10,
         '101': 16,
         '102': 10,
         '103': 12,
         '104': 12,
         '105': 16,
         '106': 12,
         '107': 18,
         '108': 14,
         '109': 12,
         '11': 14,
         '110': 12,
         '111': 12,
         '112': 16,
         '113': 14,
         '114': 14,
         '115': 14,
         '116': 12,
         '117': 16,
         '118': 14,
         '119': 12,
         '12': 8,
         '120': 14,
         '121': 18,
         '122': 16,
         '123': 14,
         '124': 12,
         '125': 8,
         '126': 12,
         '127': 10,
         '128': 14,
         '129': 20,
         '130': 18,
         '131': 18,
         '132': 16,
         '133': 18,
         '134': 10,
         '135': 12,
         '136': 12,
         '137': 14,
         '138': 16,
         '139': 10,
         '140': 14,
         '141': 14,
         '142': 22,
         '143': 26,
         '144': 12,
         '145': 12,
         '146': 12,
         '147': 14,
         '148-1': 16,
         '149': 22,
         '150': 16,
         '151': 14,
         '152': 16,
         '153': 20,
         '154': 20,
         '155': 16,
         '156': 8,
         '157': 6,
         '158': 20,
         '159': 26,
         '16': 10,
         '160': 16,
         '161': 20,
         '163': 10,
         '163-2': 8,
         '164': 8,
         '165': 4,
         '167': 2,
         '168': 2,
         '169': 2,
         '17': 6,
         '170': 6,
         '172': 8,
         '178': 8,
         '18': 12,
         '180': 10,
         '181': 10,
         '182': 6,
         '184': 10,
         '185': 10,
         '186': 12,
         '187': 16,
         '188': 12,
         '189': 14,
         '19': 12,
         '190': 10,
         '191': 12,
         '192': 16,
         '193': 12,
         '194': 14,
         '195': 12,
         '195-2': 4,
         '196': 12,
         '197': 12,
         '198': 8,
         '199': 16,
         '2': 10,
         '20': 10,
         '200': 12,
         '202': 10,
         '204': 14,
         '205': 10,
         '206': 12,
         '207': 12,
         '208': 12,
         '209': 16,
         '21': 14,
         '210': 10,
         '212': 12,
         '213': 16,
         '214': 6,
         '215': 14,
         '216': 14,
         '217': 10,
         '218': 10,
         '219': 16,
         '22': 16,
         '220': 16,
         '222': 14,
         '223': 12,
         '224': 12,
         '225': 12,
         '226': 8,
         '227': 14,
         '228': 14,
         '229': 12,
         '23': 12,
         '230': 12,
         '231': 10,
         '232': 12,
         '233': 10,
         '234': 12,
         '235': 8,
         '236': 8,
         '237': 14,
         '238': 8,
         '239': 14,
         '24': 8,
         '240': 12,
         '241': 12,
         '242': 14,
         '243-1': 14,
         '244-1': 10,
         '245': 14,
         '246-1': 12,
         '247': 14,
         '248': 10,
         '249': 14,
         '25': 14,
         '250': 16,
         '251': 12,
         '252': 16,
         '253': 10,
         '254': 12,
         '255': 14,
         '256': 12,
         '257': 10,
         '258': 12,
         '259': 8,
         '26': 16,
         '260': 16,
         '261': 12,
         '262': 12,
         '263': 12,
         '264': 12,
         '265': 14,
         '27': 12,
         '28': 12,
         '29': 20,
         '3': 12,
         '31': 16,
         '32': 14,
         '33': 10,
         '34-1': 2,
         '34-2': 12,
         '35': 10,
         '35-2': 4,
         '36': 12,
         '37': 10,
         '38': 12,
         '39-2': 14,
         '4': 12,
         '40': 10,
         '41': 10,
         '42': 10,
         '43': 10,
         '44-1': 10,
         '44-2': 6,
         '45': 10,
         '46-1': 14,
         '47': 18,
         '48': 12,
         '49': 10,
         '5': 12,
         '50': 6,
         '51': 12,
         '52': 10,
         '53': 10,
         '54': 6,
         '55': 12,
         '57': 14,
         '58': 14,
         '59': 12,
         '60': 14,
         '61': 20,
         '62': 12,
         '63': 22,
         '64': 18,
         '65': 16,
         '66': 16,
         '67': 14,
         '68': 12,
         '69': 10,
         '7': 10,
         '70': 4,
         '71': 6,
         '72': 6,
         '74': 4,
         '75': 16,
         '76': 14,
         '77': 12,
         '78': 10,
         '79': 16,
         '8': 12,
         '80': 12,
         '81': 8,
         '82': 14,
         '83': 12,
         '84': 12,
         '85': 12,
         '86': 16,
         '87': 16,
         '89': 12,
         '9': 14,
         '90': 12,
         '91': 10,
         '92': 8,
         '93': 12,
         '94': 14,
         '95': 10,
         '96': 12,
         '97': 12,
         '99': 12})

In [51]:
d2={}
for k,v in c.items():   # 一度pd.Seriesに変換
    d2[k]=pd.Series(v)

df=pd.DataFrame(d2).T
df.head()

      0
0    14
1    16
100  10
101  16
102  10

In [56]:
df[1] = df.index
df_ = pd.DataFrame()
df_['fname'] = df[1]
df_['num_patches'] = df[0]
df_.head()
df_.to_csv('../../img/csv/count_patches.csv', index = False)

In [65]:
df__ = df_[df_['num_patches'] > 5]
df__.head()

    fname  num_patches
0       0           14
1       1           16
100   100           10
101   101           16
102   102           10

In [69]:
df__['fname'].to_csv('../../img/csv/fnames_more_than_5patches.csv', index = False)

In [76]:
import shutil
import os
for fname in fnames:
    check = re.findall('(.+)_.+', fname)[0] in df__['fname']
    if check:
        shutil.copyfile("../../img/patch4/img/"+fname, "../../img/dataset_meta/patches/"+fname)